@model BeanScene2.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reservation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SittingDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SittingDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTIme)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTIme)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfGuest)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfGuest)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReservationStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReservationStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Customer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sitting)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sitting.SittingId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Table)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Table.TableId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ReservationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
