@model IEnumerable<BeanScene2.Models.Area>

@{
    ViewData["Title"] = "Area Index";
}

<h1>Area Index</h1>
@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create"><i class="bi bi-plus-square"></i> Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AreaName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AreaName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacity)
            </td>
                @if (User.IsInRole("admin"))
                {
                    <td>
                        <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.AreaId"><i class="bi bi-pencil-square"></i> Edit</a> |
                        <a class="btn btn-outline-info" asp-controller = "Areas" asp-action="Details" asp-route-id="@item.AreaId"><i class="bi bi-eye"></i> Details</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.AreaId"><i class="bi bi-trash3"></i> Delete</a>
                    </td>
                }

            
        </tr>
}
    </tbody>
</table>
