@model IEnumerable<BeanScene2.Models.Table>

@{
    ViewData["Title"] = "Table Index";
}

<h1>Table Index</h1>
@if (User.IsInRole("admin"))
{
    <p>
        <a asp-action="Create"><i class="bi bi-plus-square"></i> Create New</a>
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TableId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TableName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TableId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TableName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area.AreaName)
            </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    <a class="btn btn-outline-primary" asp-action="Edit" asp-route-id="@item.TableId"><i class="bi bi-pencil-square"></i> Edit</a> |
                    <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.TableId"><i class="bi bi-eye"></i> Details</a> |
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.TableId"><i class="bi bi-trash3"></i> Delete</a>
                </td>
            }
            
        </tr>
}
    </tbody>
</table>
